.container {
  max-width: 600px;
}

.username {
  font-weight: bold;
}

.time {
  font-size: 0.6em;
}

.update-name-message {
  text-align: center;
  margin: 20px auto;
  font-weight: bold;
}

body {
  background-color: #352f5b;
}

input[type="text"],
input[type="text"]:focus {
  color: #fff;
  border: none;
  background: rgba(0, 0, 0, 0.2);
  max-width: 400px;
}

.list {
  background-color: #423a6f;
}

